.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 95vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  min-width: 95vw;
}
.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
  padding: 2rem;
  object-fit: contain;
  animation-name: skewdance;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-delay: 1s;
}

.flying_image {
  position: fixed;
  box-shadow: var(--shadow-elevation-high);
}

@keyframes skewdance {
  0% {
    transform: skewX(0deg);
  }
  100% {
    transform: skewX(360deg);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}
